*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    display: flex;
}

.pics{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    flex: 0.5;
    height: 80vh;
    border-radius: 3rem;
    margin: 0.5rem;
    position: relative;
    transition: all 700ms ease-in;
}

.caption{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin:0;
    opacity: 0;
    color: black;
    border: 2px solid white;
    background-color: white;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.75rem rgb(103, 103, 103));
}

.pics.active{
    width: 90vw;
    flex: 5;
}

.pics.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.pic1{
    background-image: url("https://images.unsplash.com/photo-1579783901837-c78c2310be05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=504&q=80");
}

.pic2{
    background-image: url("https://images.unsplash.com/photo-1613206468203-fa00870edf79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80");
}

.pic3{
    background-image: url("https://images.unsplash.com/photo-1518945756765-f8641d60fc0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=576&q=80");
}

.pic4{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/593/256/971/painting-oils-woman-girl-wallpaper-preview.jpg");
}

.pic5{
    background-image: url("https://www.re-thinkingthefuture.com/wp-content/uploads/2021/02/A3167-6-Examples-of-Architecture-in-Paintings-Image-6.jpg");
}

@media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .pics:nth-of-type(4),
    .pics:nth-of-type(5) {
      display: none;
    }
  }