body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4d4d4d;
}

.search {
    position: relative;
    /* height: 50px; */
}
  
.search .input {
    background-color: #fff;
    border: thin solid white;
    border-radius: 4px;
    font-size: 1rem;
    padding: 1em;
    width: 2em;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: thin solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    padding: 1em;
    transition: transform 0.3s ease;
  }

  .btn:focus,
  .input:focus {
    outline: none;
  }
  
  .search.active .input {
    width: 10em;
  }
  
  .search.active .btn {
    transform: translateX(9em);
  }